@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
  font-family: sans-serif;
  text-align: center;
}

.music {
  font-size: 2rem;
}

.heading {
  display: inline;
  margin-left: 6px;
}

.row-1 {
  margin-top: 3rem;
}

.btn {
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
